<launch>
  <!-- launch turtlebot3_autorace_camera_pi.launch in the raspberry pi before launch this file -->
  <!-- launch this in remote pc when you are doing calibration-->

  <arg name="calibration_mode" default="$(env AUTO_IN_CALIB)" doc="calibration_mode type [calibration, action]"/>
  
  <arg name="use_gazebo" default="$(env GAZEBO_MODE)" doc="gazebo_mode type [true, false]"/>

    <group ns="robot1" if="$(arg use_gazebo)">
      <!-- image transport from compressed to raw -->
      <node pkg="image_transport" type="republish" name="republish" args="compressed">
        <remap from="in"  to="camera/rgb/image_raw" />
        <remap from="out"   to="camera/image"/>
      </node>
      <node pkg="topic_tools" type="relay" name="relay_camera_info" args="/camera/rgb/camera_info /camera/camera_info"/>
    </group>

    <group ns="robot1" unless="$(arg use_gazebo)">
      <!-- image transport from compressed to raw -->
      <node pkg="image_transport" type="republish" name="republish" args="compressed in:=camera/image raw out:=camera/image" />
    </group>


  <!-- run the following under calibration mode -->
  <!-- camera calibration uses raw image -->
  <node ns="robot1" if="$(eval calibration_mode == 'calibration')" pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args="--size 8x6 --square 0.108 image:=/camera/image camera:=/camera" output="screen"/>

  <!-- run the following under action mode -->
  <!-- image rectification -->
  <node if="$(eval calibration_mode == 'action')" ns="robot1/camera" pkg="image_proc" type="image_proc" name="image_proc" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <param name="queue_size" value="20" />
  </node>

  <!-- Config robot2 -->

  <group ns="robot2" if="$(arg use_gazebo)">
     
      <node pkg="image_transport" type="republish" name="republish" args="compressed">
        <remap from="in"  to="camera/rgb/image_raw" />
        <remap from="out"   to="camera/image"/>
      </node>
      <node pkg="topic_tools" type="relay" name="relay_camera_info" args="/camera/rgb/camera_info /camera/camera_info"/>
  </group>

  <group ns="robot2" unless="$(arg use_gazebo)">
      
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=camera/image raw out:=camera/image" />
  </group>

  <node ns="robot2" if="$(eval calibration_mode == 'calibration')" pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args="--size 8x6 --square 0.108 image:=/camera/image camera:=/camera" output="screen"/> -->

  <node if="$(eval calibration_mode == 'action')" ns="robot2/camera" pkg="image_proc" type="image_proc" name="image_proc" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <param name="queue_size" value="20" />
  </node>

  <!-- Config robot3 -->

  <group ns="robot3" if="$(arg use_gazebo)">
     
      <node pkg="image_transport" type="republish" name="republish" args="compressed">
        <remap from="in"  to="camera/rgb/image_raw" />
        <remap from="out"   to="camera/image"/>
      </node>
      <node pkg="topic_tools" type="relay" name="relay_camera_info" args="/camera/rgb/camera_info /camera/camera_info"/>
  </group>

  <group ns="robot3" unless="$(arg use_gazebo)">
      
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=camera/image raw out:=camera/image" />
  </group>

  <node ns="robot3" if="$(eval calibration_mode == 'calibration')" pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args="--size 8x6 --square 0.108 image:=/camera/image camera:=/camera" output="screen"/> -->

  <node if="$(eval calibration_mode == 'action')" ns="robot3/camera" pkg="image_proc" type="image_proc" name="image_proc" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <param name="queue_size" value="20" />
  </node>

   <!-- Config robot4 -->

  <group ns="robot4" if="$(arg use_gazebo)">
     
      <node pkg="image_transport" type="republish" name="republish" args="compressed">
        <remap from="in"  to="camera/rgb/image_raw" />
        <remap from="out"   to="camera/image"/>
      </node>
      <node pkg="topic_tools" type="relay" name="relay_camera_info" args="/camera/rgb/camera_info /camera/camera_info"/>
  </group>

  <group ns="robot4" unless="$(arg use_gazebo)">
      
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=camera/image raw out:=camera/image" />
  </group>

  <node ns="robot4" if="$(eval calibration_mode == 'calibration')" pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args="--size 8x6 --square 0.108 image:=/camera/image camera:=/camera" output="screen"/> -->

  <node if="$(eval calibration_mode == 'action')" ns="robot4/camera" pkg="image_proc" type="image_proc" name="image_proc" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <param name="queue_size" value="20" />
  </node>





</launch>
